<div>
  <p>
    First name:
  </p><input type="text" ng-model='firstName' />
  <p>
    Last name:
  </p><input type="text" ng-model='lastName' />
  <p>
    email:
  </p><input type="text" ng-model='mail' />
  <p>
    Phone:
  </p><input type="text" ng-model="phone" />
  <p>
    Hire date:
  </p><input type="date" ng-model="hireDate" />
  <p>
    Job:
  </p><input type="text" ng-model="job" />
  <p>
    Salary:
  </p><input type="number" ng-model="salary" />
  <p>
    Comission:
  </p><input type="text" ng-model="comission" />
  <p>
    Manager:
  </p><input type="text" ng-model="manager" />
  <p>
    Department:
  </p><input type="text" ng-model="department" />
  <div>
    <button ng-click="back()">Back</button>
    <button ng-click="reset()">Reset</button>
    <button ng-click="save()">Save</button>
    <button ng-click="showOrHide()">Show/Hide List</button>
  </div>
</div>
